{% extends "layout.html" %}

{% block body %}
  <main class="page event-page">
    <section class="portfolio-block event">
      <div class="container">
        <div class="heading">
          <h2>{{ data.title }}
            {% if data.status == 'Upcoming' %}
              <span class="badge badge-info">{{ data.status }}</span>
            {% else %}
              <span class="badge badge-secondary">{{ data.status }}</span>
            {% endif %}
          </h2>
          {% if user.email == data.created %}
            <div>
              <a href="{{ url_for('main.updateEvent') }}?id={{ data.id }}">Update the Event</a>
              <a id="delete-btn" href="{{ url_for('main.deleteEvent') }}?id={{ data.id }}">Delete the Event</a>
            </div>
          {% endif %}
        </div>
        <img src="static/img/{{ data.image_path }}" class="d-block mr-auto ml-auto">
        <div class="row mt-5">
          <div class="col-12 col-md-6 offset-md-1 info">
            <h3>About this event</h3>
            <p>{{ data.desc }}</p>
            <h3>Tickets Sold</h3>
            <p>{{ data.ticket_sold }}/{{ data.ticket_all }}</p>

          </div>
          <div class="col-12 col-md-3 offset-md-1 meta">
            <div class="tags">
              <div class="meta-heading font-weight-bold">Date:<span>{{ data.date.strftime("%Y-%m-%d") }}</span></div>
              <div class="meta-heading font-weight-bold">Time:<span>{{ data.date.strftime("%H:%M:%S") }}</span></div>

              {% if data.ticket_sold != data.ticket_all %}
                <a href="{{ url_for('main.bookEvent') }}?id={{ data.id }}" class="btn btn-primary btn-lg mt-5">Booking
                  The
                  Event</a>
              {% else %}
                <button disabled class="btn btn-secondary btn-lg mt-5">Sorry, tickets're sold out</button>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col">
            <h3>Comments...</h3>
            <hr/>
            <a href="{{ url_for('main.addComment') }}?id={{ data.id }}" class="btn btn-primary">Post one!</a>
            <hr/>
            {% for comment in comments %}
              <div class="mb-2">
                <p><b>{{ comment.name }}</b> at {{ comment.created.strftime("%Y-%m-%d") }}</p>
                <p>{{ comment.content }}</p>
              </div>

            {% endfor %}
          </div>

        </div>
      </div>
    </section>
  </main>

  <script>
    document.getElementById('delete-btn').addEventListener('click', function (e) {
      if (!confirm('Are you sure?')) {
        e.preventDefault();
      }
    });
  </script>

{% endblock %}
