{% extends "layout.html" %}

{% block body %}
  <main class="page home-page">
    <section class="portfolio-block projects-with-sidebar">
      <div class="container">
        <div class="heading">
          <h2>Recent Music Events</h2>
        </div>
        <div class="row">
          <div class="col-md-2">
            <ul class="list-unstyled sidebar">
              <li><a class="{{ '' if  type  else 'active' }}" href="{{ url_for('main.homePage') }}">All</a></li>
              <li><a class="{{ 'active' if  type == 'Pop'  else '' }}" href="{{ url_for('main.homePage') + '?type=Pop' }}">Pop</a></li>
              <li><a class="{{ 'active' if  type == 'Jazz'  else '' }}" href="{{ url_for('main.homePage') + '?type=Jazz' }}">Jazz</a></li>
              <li><a class="{{ 'active' if  type == 'R&B'  else '' }}" href="{{ url_for('main.homePage') + '?type=R%26B' }}">R&B</a></li>
              <li><a class="{{ 'active' if  type == 'Country'  else '' }}" href="{{ url_for('main.homePage') + '?type=Country' }}">Country</a></li>
            </ul>
          </div>
          <div class="col-md-10">
            <div class="row">
              {% for row in list %}
                <div class="col-md-6 col-lg-4">
                  <div class="card border-0">
                    <a href="{{ url_for('main.eventDetail') + '?id=' }}{{ row.id }}">
                      <img class="card-img-top scale-on-hover"
                           src="static/img/{{ row.image_path }}"
                           alt="Card Image">
                    </a>
                    <div class="card-body">
                      <h5><a href="{{ url_for('main.eventDetail') + '?id=' }}{{ row.id }}">
                        {{ row.title }}
                        {% if row.status == 'Upcoming' %}
                          <span class="badge badge-info">{{ row.status }}</span>
                        {% else %}
                          <span class="badge badge-secondary">{{ row.status }}</span>
                        {% endif %}
                      </a></h5>
                      <p class="text-muted card-text">{{ row.desc }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
