{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}

  <div class="page">
    <div class="portfolio-block">
      <h1 class="text-center text-uppercase">{{ formTitle }}</h1>

      {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
          <div class="alert alert-danger mr-auto ml-auto mb-3" style="width: 400px">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {{ wtf.quick_form(form) }}

    </div>
  </div>


{% endblock %}